/*
Tim Alvarado, Chris Beatty, Joel Mardock, Grace Steranko
4/9/2023
Module 5: Web Dev Assignment
This is the site CSS code for most of the Provisio pages


*/
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    background-color: #89b2f5;
}

.header{
    background-color: #333;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}
.header a
{
    text-decoration: none;
}
h1{
    text-align: left;
    padding-left: 20px;
    color: white;
    font-size: 32px;
    margin: 0;
    font-weight: 700;
}

#navbar {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
button:hover {
    background-color: #45a049;
}

.page-layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

h2{
    text-align: center;
    font-family: 'arial', sans-serif;
    padding-top: 3px;
    font-weight: 500;
    text-decoration: underline;
}
h2.body-title
{
    font-size: 50px;
    font-weight: 800;
}
h3{
    text-align: center;
    padding-top: 3px;
    font-weight: 600;
    text-decoration: underline;
}

#landing-page-gallery{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#landing-page-gallery figure {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
#landing-page-gallery img {
    width:150px;
    height:150px;
    border: 3px solid blue;
    margin-left: 10%;
}
#landing-page-gallery figcaption {
    text-align: center;
    font-style: italic;
    border-bottom: 3px solid blue;
    border-left: 3px solid blue;
    border-right: 3px solid blue;
    background-color: gainsboro;
}

#landing-page{
    padding: 50px;
    text-align: center;
}
#landing-page a{
    font-size: 20px;
}

.content-location {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.location {
    padding: 0 2%;
    margin: 10px 0 100px;
    background-color: #619cfa;
    border: 5px solid blue;
}
.location-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: space-around;
    column-gap: 35px;
}
.location-title h3{
    font-size: 25px;
}
h3.attraction-title {
    text-align: left;
}

.attraction-item {
    display: grid;
    grid-template-columns: 20% auto;
    gap: 15px;
}


#hotelPic
{
    width: 500px;
    height: 100%;
    border: 3px solid blue;
    margin-left: 0px;
}


dt{
    font-weight: 300;
    color:#575759;
    size: 16px;
    font-family: 'arial', sans-serif;
    background-color: #72F285;
}
dd{
    margin: 0;
    color: #19191A;
    size: 16px;
    font-family: 'arial', sans-serif;
    background-color: #72F285;
}



#aboutus-gallery{
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-top: 10px;
    background-color: #0252d4;
}
#aboutus-gallery figure {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
#aboutus-gallery img {
    width:150px;
    height:150px;
    border: 3px solid blue;
    margin-left: 10%;
}
#aboutus-gallery figcaption {
    text-align: center;
    font-style: italic;
    border-bottom: 3px solid blue;
    border-left: 3px solid blue;
    border-right: 3px solid blue;
    background-color: gainsboro;
}
#aboutus{
    font-family: 'arial', sans-serif;;
    color: #19191A;
    size: 16px;
    padding: 30px;
    background-color: red;
}

#contactus{
    font-family: 'arial', sans-serif;;
    color: #19191A;
    size: 16px;
    padding: 30px;
    text-align: center;
    background-color: #0252d4;
}



.footer {
    margin-top: auto;
    width: 100%;
    color: white;
    background-color: #333;
    padding: 15px 0;
}
.footer p {
    padding: 0 25px 0;
}

.footer a:link{
    color: aliceblue ;
    float:right;
    text-decoration: underline;
}
.footer a:visited{
    color: #575759;
    text-decoration: underline;
}