/*
Tim Alvarado, Chris Beatty, Joel Mardock, Grace Steranko
4/9/2023
Module 5: Web Dev Assignment
This is the site CSS code for most of the Provisio pages


*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #89b2f5;
}

#navbar {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
button:hover {
    background-color: #45a049;
}

header{
    background-color: #89b2f5;
    text-align: center;
    width: 100%;
    padding: 20px;
}
h1{
    text-align: left;
    font-family: 'arial', sans-serif;
    padding-top: 3px;
    color: #19191A;
    font-weight: 700;
    text-decoration: underline;
}

h2{
    text-align: center;
    font-family: 'arial', sans-serif;
    padding-top: 3px;
    color: #19191A;
    font-weight: 500;
    text-decoration: underline;
}

h3{
    text-align: center;
    font-family: 'arial', sans-serif;
    padding-top: 3px;
    color: #19191A;
    font-weight: 400;
    text-decoration: underline;
}

figure {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

img {
    width:150px;
    height:150px;
    border: 3px solid #023E8A;
    margin-left: 10%;
}
#hotelPic
{
    width: 500px;
    height: 100%;
    border: 3px solid black;
    margin-left: 0px;
}
#location
{
	border: 1px solid black;
    margin: 10px;
    width: 80%
}

figcaption {
    text-align: center;
    font-style: italic;
    border-bottom: 3px solid #023E8A;
    border-left: 3px solid #023E8A;
    border-right: 3px solid #023E8A;
    background-color: aliceblue;
}


dt{
    font-weight: 300;
    color:#575759;
    size: 16px;
    font-family: 'arial', sans-serif;
    background-color: #72F285;
}
dd{
    margin: 0;
    color: #19191A;
    size: 16px;
    font-family: 'arial', sans-serif;
    background-color: #72F285;
}


#landing-page-gallery{
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-top: 10px;
    background-color: white;
}

#aboutus-gallery{
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-top: 10px;
    background-color: #0252d4;
}
#aboutus{
    font-family: 'arial', sans-serif;;
    color: #19191A;
    size: 16px;
    padding: 30px;
    background-color: ;
}

#contactus{
    font-family: 'arial', sans-serif;;
    color: #19191A;
    size: 16px;
    padding: 30px;
    text-align: center;
    background-color: #0252d4;
}

#landing-page{
    font-family: 'arial', sans-serif;;
    color: #19191A;
    padding: 30px;
    position: flex;
    text-align: center;
    bottom: 0;
    background-color: white;
}

#footer{
    width: 100%;
    background-color: gainsboro;
    position: absolute;
    padding-bottom: 20px;
}
#footer a:link{
    color: #19191A ;
    float:right;
    text-decoration: underline;
}

#footer a:visited{
    color: #575759;
    text-decoration: underline;
}